body {
    background-color: #4A4857;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    color: #444;
}

a {
    color: #4A4857;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #6DA67A;
}

a:visited {
    color: #4A4857;
}

a:visited:hover {
    color: #6DA67A;
}

p {
    line-height: 1.8;
}

img {
    border: none;
}

h1 {
    font-size: 24px;
    line-height: 1.5;
}

h2 {
    font-size: 18px;
    line-height: 1.6;
}

h3 {
    font-size: 16px;
    line-height: 1.8;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px;
}

#main {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 40px 20px 40px 24px;
    max-width: 900px;
    background-color: white;
    min-height: 600px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    border-radius: 15px;
}

#headbar {
    height: 133px;
    border-bottom: 1px solid #ddd;
}

#logo img {
    margin-top: 35px;
    margin-left: 20px;
    width: 400px;
}

#headbarbuttons {
    float: right;
    padding: 55px 0px 55px 0px;
}

#headbarbuttons a {
    margin-right: 40px;
    font-size: 18px;
    padding: 10px 15px;
    color: #5e5e5e;
}

.button {
    padding: 6px 10px;
    color: #5e5e5e;
    background-color: #ebebeb;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: linear-gradient(top, #f9f9f9, #ebebeb);
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}

.button:hover {
    color: #5e5e5e;
    background-color: #ebebeb;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(bottom, #f9f9f9, #ebebeb);
    background-image: -o-linear-gradient(bottom, #f9f9f9, #ebebeb);
    background-image: linear-gradient(bottom, #f9f9f9, #ebebeb);
}

.button:visited:hover {
    color: #5e5e5e;
}

input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px;
}

#page {
    margin-top: 30px;
}

#sidemenu {
    float: left;
    width: 30%;
}

#sidemenu li {
    line-height: 2;
    font-size: 10pt;
}

#content {
    width: 60%;
    float: right;
    margin: 0px 80px 30px 0px;
}

.event {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    position: relative;
}

.eventtitle {
    font-size: 20pt;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 25px;
}

.eventtitle a {
    color: #6DA67A;
}

.eventtitle a:hover {
    color: #CCAC95;
}

.eventtitle a:visited {
    color: #6DA67A;
}

.eventtitle a:visited:hover {
    color: #CCAC95;
}

.eventcontent {
    padding-left: 20px;
}

.event_rechts {
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
}

.event_rechts a {
    color: #5e5e5e;
}

.event_links {
    width: 60%;
}

.event_social {
    width: 500px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.neweventform {
    margin-top: 30px;
}

.neweventform .button {
    padding: 16px 30px;
    font-weight: bold;
}

.neweventicon {
    float: left;
    width: 25px;
    margin: 20px 10px 0px 0px;
    padding-top: 2px;
}

.editeventicon {
    float: left;
    width: 25px;
    margin: 20px 10px 0px 0px;
    padding-top: 2px;
}

.editicon_mini {
    height: 18px;
    margin: 0px 7px 4px 0px;
}

.tweets {
    width: 450px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    padding: 10px 20px 20px 20px;
    font-family: Arial, sans-serif;
    font-size: 13pt;
}

.tweets img {
    margin-right: 5px;
    border-radius: 5px;
}

.tweets .twittername {
    font-weight: bold;
}

.tweets .twittertext {
    font-family: Helvetica, Arial, sans-serif;
}

.hashtag {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
}

.clear {
    clear: both;
}

.error {
    color: red;
}

#map-canvas {
    height: 380px;
    width: 500px;
}

#facebook {
    font-size: 13px;
}

#facebook a {
    color: #3b5998;
}

#facebook a:hover {
    text-decoration: underline;
}

#googlemaps {
    margin: 20px 0px 40px 0px;
}

#googlemaps img {
    margin: 20px 0px;
}

.event_social_title {
    margin: 20px 0px;
}
